<style>
  h1 {
    letter-spacing: 0.2rem;
    opacity: 0.7;
  }
</style>

<div class="news-image">
  <br><br><br><br><br><br>
  <div class="container">
  </div>
</div>

<br><br>
<div class="container">

  <div class="main">
    <ul>
      <% @news.each do |news| %>
          <li>
            <h3>
              <%= news.created_at.to_date %></h3>
            <h2><%= link_to news.title, news %></h2>
          </li>
      <% end %>
    </ul>
  </div>
</div>
