<div class="container">
  <%= link_to 'Back', admin_projects_path, class: 'btn btn-sm btn-secondary' %>
  <br><br>

  <button type="button" class="btn btn-lg btn-info btn-block">New Projects</button>

  <div class="jumbotron">
    <%= render 'form', project: @project %>
  </div>
</div>

