<br><br><br><br><br>
<style>
  h3 {
    letter-spacing: 1px;
    margin: 0;
    text-transform: uppercase;
  }

</style>

<% @projects.each do |project| %>
    <div class="container jumbotron bg-light">
      <p class="text-right text-muted"><%= project.created_at.to_date %></p>
      <a href="<%= project_path(project) %>"><h4 style="color: #000;"><%= project.name %></h4></a>
      <p class="text-muted"><%= project.intro %></p>
    </div>
<% end %>

