<div class="container">
  <%= link_to 'Show', [:admin, @person], class: 'btn btn-sm btn-secondary' %>
  <%= link_to 'Back', admin_people_path, class: 'btn btn-sm btn-secondary' %>
  <br><br>

  <button type="button" class="btn btn-lg btn-info btn-block">Editing Person</button>

  <div class="jumbotron">
    <%= render 'form', person: @person %>
  </div>

</div>
