// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.bg-light {
  opacity: 0.8;
}

.navbar {
  padding: 1rem 1rem;
}

.navbar-light .navbar-nav .nav-link {
  color: rgb(0, 0, 0);
}

.footer {
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 80px;
  line-height: 80px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

.design-image {
  background: image-url("design.jpg") center top no-repeat;
  background-size: cover;
  height: 600px;
}

.difference-image {
  background: image-url("difference.png") center top no-repeat;
  background-size: cover;
  height: 600px;
}

.people-image {
  background: image-url("team.jpg") center top no-repeat;
  background-size: cover;
  height: 600px;
}

.projects-image {
  background: image-url("projects.png") center top no-repeat;
  background-size: cover;
  height: 600px;
}

.news-image {
  margin-top: 72px;
  background: image-url("news.jpg") center top no-repeat;
  background-size: cover;
  height: 528px;
}
